Node Red Flow/flows (1).json
[{"id":"fe6b18b.fd668e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c02aabb9.779f38","type":"ui_form","z":"fe6b18b.fd668e8","name":"","label":"","group":"86b5f7cc.85f0b8","order":1,"width":0,"height":0,"options":[{"label":"Enter the Query:: ","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["5f676616.94d158"]]},{"id":"5f676616.94d158","type":"function","z":"fe6b18b.fd668e8","name":"InterCom","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":300,"wires":[["8ad140.8e1b6ec","bc63d879.660218"]]},{"id":"8ad140.8e1b6ec","type":"watson-conversation-v1","z":"fe6b18b.fd668e8","name":"Watson Assistant","workspaceid":"86fb4ad7-9911-4027-84dc-c9ff18627804","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fde9a00e-84ea-4781-bb96-0ae4288bdb33","timeout":"","optout-learning":false,"x":430,"y":200,"wires":[["f12205c6.e5ac78","12c3ba9b.4980c5"]]},{"id":"12c3ba9b.4980c5","type":"function","z":"fe6b18b.fd668e8","name":"Watson Discovery Connect","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":360,"wires":[["71d0af24.f0f2b","40b1931a.c453cc"]]},{"id":"f12205c6.e5ac78","type":"debug","z":"fe6b18b.fd668e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":100,"wires":[]},{"id":"71d0af24.f0f2b","type":"debug","z":"fe6b18b.fd668e8","name":"Discovery Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":260,"wires":[]},{"id":"bc63d879.660218","type":"ui_text","z":"fe6b18b.fd668e8","group":"86b5f7cc.85f0b8","order":2,"width":6,"height":1,"name":"","label":"Your Query","format":"{{msg.payload}}","layout":"col-center","x":370,"y":400,"wires":[]},{"id":"40b1931a.c453cc","type":"ui_text","z":"fe6b18b.fd668e8","group":"86b5f7cc.85f0b8","order":3,"width":6,"height":5,"name":"","label":"Response","format":"{{msg.payload}}","layout":"col-center","x":910,"y":440,"wires":[]},{"id":"86b5f7cc.85f0b8","type":"ui_group","z":"","name":"Smart LapBot","tab":"8906ba01.226ad8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8906ba01.226ad8","type":"ui_tab","z":"","name":"Customer Care HelpDesk","icon":"dashboard","disabled":false,"hidden":false}]